@model AmsApp.Models.User
@{
    ViewBag.Title = "Json";
}

<h2>Json</h2>
{"User":[
    {"firstName":"@Html.DisplayFor(model => model.FirstName)", 
    "LastName":"@Html.DisplayFor(model => model.LastName)",
    "Email":"@Html.DisplayFor(model => model.Email)",
     "RoleId":"@Html.DisplayFor(model => model.RoleId)"}
]}
